<section id="contato" class="contact-section">
  <div class="secao-titulo-principal">
    <h2>Contate-nos</h2>
  </div>

  <div class="contact-wrapper">
    <div class="contact-card">
      <h3>Informações</h3>

      <div class="info-item">
        <div class="icon-circle">📍</div>
        <div class="info-text">
          <h4>Localização</h4>
          <p>Rua J. Carlos Mendes de Campos, 190</p>
          <p>Sales, Cristo Redentor CEP: 14980-622</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-circle">📞</div>
        <div class="info-text">
          <h4>Telefone</h4>
          <p>+55 (17) 2137-2200</p>
          <p>+55 (17) 3557-9090</p>
        </div>
      </div>

      <div class="info-item">
        <div class="icon-circle">📧</div>
        <div class="info-text">
          <h4>Email</h4>
          <p>contato@amendolaeamendola.com.br</p>
        </div>
      </div>
    </div>

    <div class="map-box">
      <iframe
        data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1858.135713352941!2d-49.49752262320958!3d-21.339786485462337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94be7867b6fa1d17%3A0x42c5472c9c2ed4c8!2sAMENDOLA%20%26%20AMENDOLA%20SOFTWARE%20LTDA!5e0!3m2!1spt-BR!2sbr!4v1761132974636!5m2!1spt-BR!2sbr" loading="lazy" referrerpolicy="no-referrer-when-downgrade" title="Localização da Amendola & Amendola"
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Localização">
      </iframe>
    </div>
  </div>
</section>
