<footer class="tf-custom-footer">
<div class="lang-selector" id="langSelector">
  <button class="lang-button" type="button" id="langButton">
    🌐 <span id="current-lang">Português</span> ▾
  </button>

  <div class="lang-menu" id="langMenu">
    <a href="#" data-lang="pt">Português</a>
    <a href="#" data-lang="en">English</a>
    <a href="#" data-lang="es">Español</a>
  </div>
</div>

  <div class="tf-footer-center">
    <a href="/politicadeprivacidade.html">Política de Privacidade</a>
    <a href="#" onclick="configurarCookies()">Configurar Cookies</a>
    <a href="/politica-de-cookies.html">Política de Cookies</a>
  </div>

  <div class="tf-footer-right">
    <a href="/criadores.html">Developed by Equipe FlowDocs</a>
  </div>
</footer>

<div id="google_translate_element" style="display:none;"></div>

<script>
  function toggleDarkMode() {
    document.body.classList.toggle("dark-mode");

    if (document.body.classList.contains("dark-mode")) {
      localStorage.setItem("theme", "dark");
    } else {
      localStorage.setItem("theme", "light");
    }
  }

  window.onload = function() {
    if (localStorage.getItem("theme") === "dark") {
      document.body.classList.add("dark-mode");
    }
  }
</script>

